    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1597378080785-fc16687451ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);">
        <div class="container">
            <h1><strong>Dariusz Semeniku proffesional photographer</strong>!</h1>
            <p>I have my own studio and I am perfectly adapted to work remotely</p>
            <a href="#"><%= link_to "Contact With Me", posts_contacts_path, class: 'btn btn-success' %></a>
        </div>
    </div>
<div class="text-center mt-5 p-1">
    <div class="row p-1">  
        <div class="col-md-9 p-1">
            <div class="row p-1">
                <% @posts.each do |post| %>
                    <div class="col-md-6 mt-3">
                        <div class="card mt-6">
                                                
                            <div class="car-body">
                             <h3> <%= link_to post.title, post_path(post.id) %> </h3>
                                  <% if post.photo.attached? %> 
                                  <%= cl_image_tag post.photo.key, width: 550, height: 620, crop: "fill"%>                                 
                                  <% else %>
                                  <img src="https://images.unsplash.com/photo-1520116468816-95b69f847357?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="350", height="400">
                                  <% end %>                                  
                        
                              <div class="text-center .align-content-center
" style="position: absolute; top: 90%; align-text: center;" >
                              <%= link_to "Check Details", post_path(post.id), class: 'btn btn-primary opacity-5' %>                
                              </div>
                            </div>
                        </div>
                    </div>
                <% end %> 
            </div>   
        </div>
        <div class="col-md-3 mt-3">
            <div class="card" style="position: sticky; top: 1em;">
                <div class="card-header">
                   <%= link_to "All Categories", posts_path() %>
                </div>

                <div class="card-body">
                    <ul class="list-group">
                        <% @categories.each do |category| %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= link_to category.category, posts_path(:cate => category.id)  %>
                        <span class="badge badge-primary badge-pill"> <%= category.posts.count %> </span>
                        </li>
                        <% end %>
                        
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<%= render 'footer' %>