<div class="container col-md-4 mt-3 text-center mt-5 ">
    <div class="card">
        <div class="card-header">
            <h3>  <%= @post.category.category %> </h3>
        </div>

        <div class="card-body">
            <ul class="list-group">
                <h3><%= @post.title %></h3>
            </ul>
                <% if @post.photo.attached? %>
                    <%= cl_image_tag @post.photo.key, width: 230, height: 320, crop: "fill"%>                                 
                <% else %>
                 <img src="https://images.unsplash.com/photo-1520116468816-95b69f847357?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="230", height="320">
                <% end %>
                <li class="list-group-item d-flex justify-content-between align-items-center text-area">
                <p><strong>Comment:</strong> <div class="text-area"><%= @post.content %> </p> </div>                      
                </li>                       
        </div>

        <div class="justify-content-center mb-3">
            <%= link_to "Edit", edit_post_path(@post.id), class: "btn btn-primary" %>
            <%= link_to 'delete',{ controller: "posts", action: "destroy", id: @post.id }, 
                data: { confirm: 'Are you sure?' }, 
                method: :delete %>
            <%= link_to "Back", posts_path, class: "btn btn-secondary" %>          
        </div>  
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= render 'footer' %>
