<body class="hero-anime topnav mobile-container">
    <div class="navigation-wrap bg-light start-header start-style mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                       <a href="/"> <img class="rounded" src="" width="150px"> </a>
                        <div class="collapse navbar-collapse topnav" id="navbarSupportedContent myTopnav">
                            <ul class="topnav navbar-nav ml-auto py-4 py-md-0" >
                                <% if current_user %>
                                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                        <a class="nav-link dropdown-toggle" data-toggle=" dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Admin Panel</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"><%= link_to "Create Post", new_post_path %></a>
                                            <a class="dropdown-item"><%= link_to 'My Categories', categories_path %></a>
                                            <a class="dropdown-item"><%= link_to 'Create Category', new_category_path %></a>
                                            <a class="dropdown-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></a>
                                        </div>
                                    </li>
                                <% end %>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <%= link_to "Home", posts_path(), :class => "nav-link"%>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <%= link_to "Album", posts_my_work_path(), :class => "nav-link"%>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <%= link_to "About Me", posts_about_path(), :class => "nav-link" %>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <%= link_to "Contacts", posts_contacts_path(), :class => "nav-link"%>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

(function($) { "use strict";
    $(function() {
        var header = $(".start-style");
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
        
            if (scroll >= 10) {
                header.removeClass('start-style').addClass("scroll-on");
            } else {
                header.removeClass("scroll-on").addClass('start-style');
            }
        });
    });
    //Animation
    $(document).ready(function() {
        $('body.hero-anime').removeClass('hero-anime');
    });

    //Menu On Hover
    $('body').on('mouseenter mouseleave','.nav-item',function(e){
            if ($(window).width() > 750) {
                var _d=$(e.target).closest('.nav-item');_d.addClass('show');
                setTimeout(function(){
                _d[_d.is(':hover')?'addClass':'removeClass']('show');
                },1);
            }
    }); 
  })(jQuery); 
  function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
