<!DOCTYPE html>
<html>
  <head>
    <title>Photoground</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--Navbar -->
<nav class="navbar navbar-inverse text-left">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dariusz Photography</a>
    </div>
    <div class="row text-left">
      <ul><a href="#">About Me</a></ul>
      <ul><a href="#">My Work</a></ul>
      <ul><a href="#">Contacts</a></ul>
   
    
    </div>
    <ul class="row navbar-right">
      <ul><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></ul>
      <ul><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></ul>
       <ul><a href="#"><span class="glyphicon"></span> <%= link_to "Create New Post", new_post_path %></a></ul>
              
  </div>
</nav>

    <%= yield %>
    
  </body>
  
</html>
